@import '../../styles/utils.scss';

div {
  margin: 2px auto 0px;
}

.category {
  @include retro-deco($darkgreen, $beige, 5px, 0)
}

.basic-box {
  padding: 5px;
  @include width-size(5px);
  @include round-border();
}

.meta-box {
  padding: 1px 5px;
  @include flex-between();
  @include width-size(5px);
  @include round-border();
  p {
    margin: 0px 4px;
  }
}

.tag-box {
  height:29.3px;
  @include width-size(0px);
  @include horizontal-scroll();
  @include flex-nowrap();
}

.tag {
  padding: 1px 5px;
  margin: 2px 2px 0px 0px;
  line-height: 25.3px;
  @include width-content();
  @include round-border();
}

.number {
  @include flex-between();
  @include width-size(0px)
}

.icon-box {
  width:calc(50% - 4px);
  margin: 2px 0 0;
  cursor: pointer;
  @include round-border();
  @include flex-center();
  p {
    margin: 0px 3px;
    line-height: 24px;
  }
}

.relative {
  position: relative;
  img {
    position: absolute;
    right: 13%;
    bottom: 0px;
    height: 60px;
    width: 60px;
    z-index: -99999999999;
  }
}

.divider {
  width: 11.5rem;
  margin: 7px auto;
  border-top: 1.3px dashed $darkgreen
}

.price-box {
  @include width-size(0px);
}

.photo-box {
  height:calc(18vh + 4px);
  @include width-size(0px);
  @include flex-nowrap();
  @include horizontal-scroll();
}

.photo {
  max-height: 18vh;
  margin-right:4px;
  @include round-border();
}

