@font-face { font-family: 'BMEULJIRO'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff'); font-weight: normal; font-style: normal; }


.div{
  &__customNav {
    display: flex;
    width:100%;
    justify-content:space-between;
    height: 40px;
    // background-color: rgb(231, 221, 209);
    // border-bottom: 2px solid rgb(40, 64, 64);
  }

  &__iconBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
  }
}

.p {
  font-family: 'BMEULJIRO';
  margin:0;
  line-height: 40px;
  color:rgb(40, 64, 64);
}

.icon {
  color:rgb(40, 64, 64);
}
