@import '../../styles/utils.scss';

.main-search {
    .search-btn {
        width: 35px;
        height: 35px;
        border: 0px;
        cursor: pointer;
    }
}

.main-page {
    width: 80%;
    max-width: calc(2.5rem * 3 + 250px);
    height:35px;
}