@import '../../styles/utils.scss';


.row {
  @include width-size(0px);
  @include flex-between;
}

.spacer {
  width: 10px;
  margin: 0
}

.small-category {
  @include retro-deco($darkgreen, $beige, 5px, 0);
}

.small-col {
  width: calc((100% - 5px) / 2)
}

.animal-box {
  @include round-border();
  @include flex-center();
  @include horizontal-scroll();
  img {
    width: 40px;
    height: 40px;
    margin: 1px;
    background-color: $darkgreen;
    border-radius:50%;
  }
}

.border-button {
	background-color:$beige;
	cursor:pointer;
	color:$darkgreen;
	font-weight:bold;
  text-shadow:0px 1px 0px #ffffff;
  @include width-size(0px);
  @include flex-center();
  @include round-border();
  border-bottom: 3px double $darkgreen;
  border-right: 3px double $darkgreen;
  &:hover {
    @include active-background();
    position:relative;
    top:1px;
  }
  // &:active {
  //   position:relative;
  //   top:1px;
  // }
  p {
    margin:2px;
  }
}

.box {
  margin: 2px auto 0;
  @include flex-center();
}
